* {
  box-sizing: border-box;
  color: #333;
}

body {
  margin: 0;
  background-color: whitesmoke;
}

a {
  color: blue;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.center {
  justify-content: center;
}

.item-center {
  align-items: center;
}

.col {
  flex-direction: column;
}

.logo {
  width: 240px;
}

.plus {
  margin: 0 15px;
}

#vite {
  width: 220px;
  padding-top: 10px;
}

#prettier {
  width: 200px;
  padding-top: 18px;
}

/* Formatting based on screen size */

/*
@media only screen and (max-width: 1129px) {
}

@media only screen and (max-width: 945px) {
}

@media only screen and (max-width: 600px) {
}
*/
